#body {
  padding: 25px;
  background-color: rgb(17, 57, 34);
  height: 100%;
}

#backgroundImage {
    padding: 25px;
    background-image: url(images/Vector_20180904_012.jpg);
    border-radius: 10px;
    height: 100%;
  }

.plantBox{
  border-style: dashed;
  margin: 10px;
  height: 205px;
  width: 205px;
}

.plantBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.shelf {
  padding: 1px;
  padding-top: 50px;
  width: 100%;
}

#plantButton {
  padding: 25px;
  font-family: "Brush Script MT", "Lucinda Console", "Courier New", 'Courier New', Courier, monospace;
  font-size: 100px;
}

#searchDropdown {
  padding: 50px;
  font-size: 100px;
  font-family: "Brush Script MT", "Lucinda Console", "Courier New", 'Courier New', Courier, monospace;
}

.primary-header {
padding: 25px;
font-family: "Brush Script MT", "Lucinda Console", "Courier New", 'Courier New', Courier, monospace;
font-size: 200%;
color: black;
text-align: center;
}