#body {
  background-color: rgb(17, 57, 34);
  height: 100%;
  height: fit-content;
}

#backgroundImage {
    background-image: url(images/Vector_20180904_012.jpg);
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    height: 100%;
    max-width: 1025px;
  }

.plantBox{
  border-style: dashed;
  border-color: floralwhite;
  margin: 10px;
  height: 205px;
  width: 205px;
}

.plantBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.shelf {
  padding: 1px;
  padding-top: 5px;
  width: 100%;
}

#shelf3 {
  padding-bottom: 250px;
}

#searchDropdown {
  padding: 5px;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.primary-header {
padding: 5px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 100px;
color: black;
text-align: left;
}